---
layout: default
---




<div style="align-items: center;align-content: center; text-align: center;">
	<img src="assets/images/Me_And_My_Images_So_Far_8_14_20.png" style="width: 600px;height: 400px;"/>
	<figcaption class="code">Me stargazing in my usual spot with Pleiades and all my best astrophotgraphs photoshopped in the background. </figcaption><br/>
	<figcaption class="code">This header image (and all the biggest, most high-def Milky Way images) come courtesy of my brother. <a href="https://robbob77.github.io">See more of his photography magic here.</a></figcaption>
</div>

<section>
	
	<hr style="color: white; margin-top: 25px;">

    <div style="margin-bottom: 50px;">
		{% assign foo = site.posts | map : "new_spots" | compact | sort: "name" %}
		<h3 class="code" style="text-decoration: underline;">Observation List</h3>

		<h4 class="code">Messier Objects</h4>
		<ul>
			{% for spot in foo %}
				{% if spot.isMessier %}
					<li style="list-style: disc;margin: 0.25pt 0; color:darkgrey;"><a class="planet_link" style="color:white" href={{ spot.link }}>{{ spot.name }}</a> (first observed {{ spot.date }}){% if spot.bestPhoto %}<br>(<a class="planet_link" style="color:white" href={{ spot.bestPhoto }}>Best Photo on {{ spot.bestPhotoDate }} with {{ spot.bestPhotoDevice }}</a>){% endif %}</li>
				{% endif %}
			{% endfor %}
		</ul>

		<h4 class="code">Double Stars</h4>
		<ul>
			{% for spot in foo %}
				{% if spot.isDoubleStar %}
					<li style="list-style: disc;margin: 0.25pt 0; color:darkgrey;"><a class="planet_link" style="color:white" href={{ spot.link }}>{{ spot.name }}</a> (first observed {{ spot.date }}){% if spot.bestPhoto %}<br>(<a class="planet_link" style="color:white" href={{ spot.bestPhoto }}>Best Photo on {{ spot.bestPhotoDate }} with {{ spot.bestPhotoDevice }}</a>){% endif %}</li>
				{% endif %}
			{% endfor %}
		</ul>

		<h4 class="code">Comets</h4>
		<ul>
			{% for spot in foo %}
				{% if spot.isComet %}
					<li style="list-style: disc;margin: 0.25pt 0; color:darkgrey;"><a class="planet_link" style="color:white" href={{ spot.link }}>{{ spot.name }}</a> (first observed {{ spot.date }}){% if spot.bestPhoto %}<br>(<a class="planet_link" style="color:white" href={{ spot.bestPhoto }}>Best Photo on {{ spot.bestPhotoDate }} with {{ spot.bestPhotoDevice }}</a>){% endif %}</li>
				{% endif %}
			{% endfor %}
		</ul>

		<h4 class="code">Planets</h4>
		<ul>
			{% for spot in foo %}
				{% if spot.isPlanet %}
					<li style="list-style: disc;margin: 0.25pt 0; color:darkgrey;"><a class="planet_link" style="color:white" href={{ spot.link }}>{{ spot.name }}</a> (first observed {{ spot.date }}){% if spot.bestPhoto %}<br>(<a class="planet_link" style="color:white" href={{ spot.bestPhoto }}>Best Photo on {{ spot.bestPhotoDate }} with {{ spot.bestPhotoDevice }}</a>){% endif %}</li>
				{% endif %}
			{% endfor %}
		</ul>
		
		<h4 class="code">Misc. Objects</h4>
		<ul>
			{% for spot in foo %}
				{% if spot.isMisc %}
					<li style="list-style: disc;margin: 0.25pt 0; color:darkgrey;"> <a href={{ spot.link }} class="planet_link" style="color:white; margin: 0.25pt 0">{{ spot.name }}</a>{% if spot.bestPhoto %}<br>(<a class="planet_link" style="color:white" href={{ spot.bestPhoto }}>Best Photo on {{ spot.bestPhotoDate }} with {{ spot.bestPhotoDevice }}</a>){% endif %}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<hr style="color: white;">
	<h1 style="text-align: center;">Blog</h1>
    {% for post in site.posts %}
        {% if post.stars != null %}
        {% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}

			{% if post.observation != null %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.location }} - {{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="stars" >{{ post.title }}</a>
					</div>
				</li>
			</ul>
			{% else %}
			<ul>
				<li>
					<div class="post-date code">
						<span> {{ post.non_observation_type }} </span>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="stars" >{{ post.title }}</a>
					</div>
				</li>
			</ul>
			{% endif %}
        {% endif %}
	{% endfor %}

</section>
