---
layout: compress
published: true
---

<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LS90EKM4NK"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-LS90EKM4NK');
		</script>

		{% include head.html %}
	</head>

	<body id="body" class="body">

		{% include header.html %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html %}

	</body>

</html>
