---
layout: default
---

<article class="article" id="article">

	{% if page.stars %}
	<script>
	

		$(document).ready(function(){
				$("#switch").hide();
				$("#body").addClass("stars");
	});
</script>
{% else %}
<script>
	

	$(document).ready(function(){
			$("#switch").hide();
});
</script>
	{% endif %}
	<div class="center">
        <h1 class="title">{{ page.title }}</h1>
        <time class="title">Observation #{{ page.observation }} | </time>
        <time class="title">{{ page.location }} | </time>
        <time class="code">{{ page.date | date: '%B %-d, %Y' }}</time>
	</div>

    <div class="divider"></div>

    <ul>
    <h6>First time observations:</h6>

        {% for star in page.new_spots %}
            <li>{{ star }}</li>
        {% endfor %}
    </ul>
    

    <div class="divider"></div>

	{{ content }}

</article>
